<template name="about">
  <div class="page about">
    <div class="bg-image" style="background-image: url('/img/about-header.jpg')"></div>
    <div class="description">
      Never miss a deal. Amble collects the most exciting sales on food, drink and events wherever you happen to be from the likes of Groupon, Foursquare, Yelp and more.  Think of Amble as your guide to the best deals in town.  Good Hunting. Never miss a deal. Amble collects the most exciting sales on food, drink and events wherever you happen to be from the likes of Groupon, Foursquare, Yelp and more.  Think of Amble as your guide to the best deals in town.  Good Hunting.
    </div>
  </div>
</template>