<template name="app">
  <div id="container">
    {{#if currentUser}}
      <div id="content-container">
        {{> yield }}
      </div>
      {{#if showsTabs}}
        {{> _tabs }}
      {{/if}}
    {{else}}
      <div class="wrapper-message">
        <div class="title-message">We don't know who you are!</div>
        <div class="subtitle-message">Sign in to Facebook so we can trust you.</div>
        <br/>
        {{> loginButton }}
      </div>
    {{/if}}
  </div>
</template>

<template name="_tabs">
  <div class="tab-nav">
    {{> _tabItem title="deals" }}
    {{> _tabItem title="saved" }}
    {{> _tabItem title="about" }}
  </div>
</template>

<template name="_tabItem">
  <a href="#" class="tab-button {{#if isActive}}active{{/if}}">{{ this.title }}</a>
</template>