<template name="dealsList">
  <div class="content-scrollable deals-list">
    {{#if hasDeals}}
      {{#each deals}}
        <a href="{{pathFor route='deal' data=dealData }}" class="deal-item">
         <div class="bg-image" style="background-image: url('{{imageUrl}}');">
          <span class="deal-sticker">{{sticker}}</span>
          {{> dealInfo }}
        </div>
        </a>
      {{/each}}
      <div>
        <a href="#" class="btn-push js-push-me">Push Me</a>
      </div>
      <div style="height: 44px"></div>
    {{else}}
      Loading...
    {{/if}}
  </div>
</template>

