<template name="home">
   <div class="page home">
    <div class="content-scrollable">
      <h2 class="list-title">Need a Sweet Deal?</h2>
      <div class="list-subtitle">Plenty of bargains just steps away...</div>
      <div class="list-activities">
        {{#if currentUser}}
          {{> placesList}}
        {{else}}
          <div class="wrapper-message">
            <div class="title-message">We don't know who you are!</div>
            <div class="subtitle-message">Sign in to Facebook so we can trust you.</div>
          </div>
          {{> loginButton}}
        {{/if}}
      </div>
    </div>
  </div>
</template>